@import "defaultTheme.scss";

:root {
    font-size: 16px;
}

$transition: all 0.2s ease;
//font name

@font-face {
    font-family: "IBMPlexSansThai-Regular";
    src: url(fonts/IBMPlexSansThai-Regular.ttf);
}
$IBMPlexSansThai-Regular: "IBMPlexSansThai-Regular";

@font-face {
    font-family: "IBMPlexSansThai-SemiBold";
    src: url(fonts/IBMPlexSansThai-SemiBold.ttf);
}
$IBMPlexSansThai-SemiBold: "IBMPlexSansThai-SemiBold";

@font-face {
    font-family: "IBMPlexSansThai-Medium";
    src: url(fonts/IBMPlexSansThai-Medium.ttf);
}
$IBMPlexSansThai-Medium: "IBMPlexSansThai-Medium";

@font-face {
    font-family: "IBMPlexSansThai-Looped-Regular";
    src: url(fonts/IBMPlexSansThaiLooped-Regular.ttf);
}
$IBMPlexSansThai-Looped-Regular: "IBMPlexSansThai-Looped-Regular";

.H1_semi_bold {
    font-family: $IBMPlexSansThai-SemiBold;
    font-weight: 600;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 3.25rem;
}
.H1_reg {
    font-family: $IBMPlexSansThai-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    line-height: 3.25rem;
}
.H2_semi_bold {
    font-family: $IBMPlexSansThai-SemiBold;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    line-height: 3rem;
}
.H2_reg {
    font-family: $IBMPlexSansThai-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 3rem;
}
.H3_semi_bold {
    font-family: $IBMPlexSansThai-SemiBold;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.H3_reg {
    font-family: $IBMPlexSansThai-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.S1_med {
    font-family: $IBMPlexSansThai-Medium;
    font-weight: 500;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2.625rem;
}
.S1_reg {
    font-family: $IBMPlexSansThai-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2.625rem;
}
.S2_med {
    font-family: $IBMPlexSansThai-Medium;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.S2_reg {
    font-family: $IBMPlexSansThai-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.body_med {
    font-family: $IBMPlexSansThai-Medium;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.65rem;
    letter-spacing: -0.005em;
}
.body_reg {
    font-family: $IBMPlexSansThai-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.65rem;
    letter-spacing: -0.005em;
}
.body_reg_looped {
    font-family: $IBMPlexSansThai-Looped-Regular;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.65rem;
}
.button_semi_bold {
    font-family: $IBMPlexSansThai-SemiBold;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.65rem;
    letter-spacing: 0.04em;
}
.overline_semi_bold {
    font-family: $IBMPlexSansThai-SemiBold;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.238rem;
    letter-spacing: 0.06em;
}
.caption_med {
    font-family: $IBMPlexSansThai-Medium;
    font-weight: 500;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.238rem;
}

.form_floating {
    position: relative;
    input {
        padding: 0.5rem 1rem;
        border: 0.125rem solid var(--color-default-secondary);
        box-sizing: border-box;
        border-radius: 1rem;
        width: 100%;
        margin: 0;
        outline: none;
        margin-top: 1.5rem;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;
        -ms-transition: $transition;
        transition: $transition;
        @extend .body_reg;
        &::placeholder {
            opacity: 0;
        }
        &:focus {
            border: 0.125rem solid var(--color-secondary);
            margin-top: 3rem;
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -o-transition: $transition;
            -ms-transition: $transition;
            transition: $transition;
        }
        &:hover {
            border: 0.125rem solid var(--color-hover-secondary);
        }
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
            color: var(--color-secondary);
            transform: translateX(-1rem) translateY(-1rem);
            @extend .caption_med;
        }

        &:not(:placeholder-shown) {
            margin-top: 3rem;
        }

        &:disabled {
            border: 0.125rem solid var(--color-on-surface-disabled);
            background-color: var(--color-surface-disabled);
            color: var(--color-on-surface-disabled);
        }

        &:disabled ~ label {
            color: var(--color-on-surface-disabled);
        }
    }
    label {
        top: 2.25rem;
        left: 1rem;
        position: absolute;
        pointer-events: none;
        transform-origin: 0 0;
        transition: 0.2s cubic-bezier(1, 0, 0, 1);
        color: var(--color-on-surface-disabled);
        @extend .body_reg;
    }
}

.form_error {
    input {
        border: 0.125rem solid var(--color-error);
        &:focus {
            border: 0.125rem solid var(--color-error);
        }
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
            color: var(--color-error);
        }
    }
    .error_message {
        color: var(--color-error);
        margin-left: 1rem;
        @extend .caption_med;
    }
}

.form_select {
    position: relative;
    select {
        display: block;
        margin-top: 1.5rem;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 0.125rem solid var(--color-default-secondary);
        box-sizing: border-box;
        border-radius: 1rem;
        background: var(--color-background);
        color: var(--color-on-secondary-container);
        background-image: url("./assets/icon/expand_more_24px.svg");
        background-repeat: no-repeat;
        background-position: right 1.375rem center;
        background-size: 0.75rem;
        outline: none;
        appearance: none;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;
        -ms-transition: $transition;
        transition: $transition;
        @extend .body_reg;
        &:hover {
            border-color: var(--color-hover-secondary);
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -o-transition: $transition;
            -ms-transition: $transition;
            transition: $transition;
        }
        &:focus {
            background-image: url("./assets/icon/expand_more_24px.svg");
            border-color: var(--color-secondary);
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -o-transition: $transition;
            -ms-transition: $transition;
            transition: $transition;
        }
        &:disabled {
            background-image: url("./assets/icon/expand_more_24px_disable.svg");
            background-color: var(--color-surface-disabled);
            border-color: var(--color-on-surface-disabled);
            color: var(--color-on-surface-disabled);
        }

        &:not([value=""]):valid{
            margin-top: 3rem;
        }
        &:not([value=""]):valid ~ label
        {
            transform: translateX(-1rem) translateY(-2.25rem);
           
            @extend .caption_med;
        }
    }
    label {
        position: absolute;
        left: 1.125rem;
        top: 0.625rem;
        pointer-events: none;
        transform-origin: 0 0;
        transition: 0.2s cubic-bezier(1, 0, 0, 1);
        color: var(--color-on-surface-disabled);
        @extend .body_reg;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -o-transition: $transition;
        -ms-transition: $transition;
        transition: $transition;
    }
    .label-disable {
        color: var(--color-on-surface-disabled);
    }
}

.form_select_error {
    select {
        border: 0.125rem solid var(--color-error);
        background-image: url("./assets/icon/expand_more_24px_error.svg");
    }
    label {
        color: var(--color-error);
    }
    .error_message {
        color: var(--color-error);
        margin-left: 1rem;
        @extend .caption_med;
    }
}

.form_input_opt {
    text-align: center;
    input {
        padding: 0.25rem 0.5rem;
        text-align: center;
        width: 2rem;
        background-color: var(--color-on-success);
        border: 0.125rem solid var(--color-on-surface-disabled);
        box-sizing: border-box;
        border-radius: 0.5rem;
        margin: 0 0.5rem;
        outline: none;
        color: var(--color-on-primary-container);
        @extend .body_med;
        &:focus,
        &:valid,
        .validated {
            border-color: var(--color-secondary);
        }
        &:disabled {
            border-color: var(--color-on-surface-disabled);
            background-color: var(--color-surface-disabled);
        }
    }
}

.form_input_pin {
    text-align: center;
    span {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: var(--color-on-success);
        border-radius: 1rem;
        border: 0.125rem solid var(--color-secondary);
        margin: 0 0.5rem;
    }
    .validated {
        background-color: var(--color-secondary);
    }
    .disabled {
        border-color: var(--color-on-surface-disabled);
        background-color: var(--color-surface-disabled);
    }
}

.btn {
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: 0.063rem solid transparent;
    border-radius: 0.5rem;
    outline: none;
    margin: 0;
    cursor: pointer;
    @extend .button_semi_bold;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

.btn_primary {
    color: var(--color-on-secondary);
    background-color: var(--color-secondary);
    &:hover {
        color: var(--color-on-secondary);
        background-color: var(--color-hover-secondary);
    }
    &:active {
        outline: none;
        color: var(--color-on-secondary);
        background-color: var(--color-pressed-secondary);
        -webkit-tap-highlight-color: var(--color-transparent);
    }

    &:disabled {
        cursor: default;
        color: var(--color-on-surface-disabled);
        background-color: var(--color-surface-disabled);
    }
}

.w-100 {
    width: 100%;
}

.btn_secondary {
    border: 0.125rem solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-transparent);
    &:hover {
        border: 0.125rem solid var(--color-hover-secondary);
        color: var(--color-hover-secondary);
        background-color: var(--color-transparent);
    }
    &:active {
        border: 0.125rem solid var(--color-pressed-secondary);
        color: var(--color-pressed-secondary);
        background-color: var(--color-transparent);
    }

    &:disabled {
        cursor: default;
        border: 0.125rem solid var(--color-surface-disabled);
        color: var(--color-on-surface-disabled);
        background-color: var(--color-transparent);
    }
}

.form_check {
    display: block;
    padding-left: 1.188rem;
    .form_check_input[type="checkbox"] {
        float: left;
        margin-left: -1.188rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 0.188rem;
        border: 0.125rem solid var(--color-secondary);
        outline: none;
        &[type="checkbox"]:focus {
            outline: none;
        }
        &[type="checkbox"]:checked {
            appearance: none;
            width: 1.125rem;
            height: 1.125rem;
            background: url(./assets/icon/check_box_24px.svg) 0 center no-repeat;
            background-position-x: center;
        }
        &[type="checkbox"]:disabled {
            cursor: default;
            appearance: none;
            width: 1.125rem;
            height: 1.125rem;
            border-radius: 0.188rem;
            border: 0.125rem solid var(--color-on-surface-disabled);
        }
    }

    .form_check_label {
        margin-left: 1.188rem;
        display: block;
        @extend .body_reg;
    }
}

.form_radio {
    display: block;
    padding-left: 1.188rem;
    .form_radio_input[type="radio"] {
        float: left;
        margin-left: -1.188rem;
        appearance: none;
        width: 1.25rem;
        height: 1.25rem;
        background: url(./assets/icon/radio_button_unchecked.svg) 0 center no-repeat;
        background-position-x: center;
        outline: none;
        &[type="radio"]:focus {
            outline: none;
        }
        &[type="radio"]:checked {
            appearance: none;
            width: 1.25rem;
            height: 1.25rem;
            background: url(./assets/icon/radio_button_checked_24px.svg) 0 center no-repeat;
            background-position-x: center;
        }
        &[type="radio"]:disabled {
            cursor: default;
            appearance: none;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            border: 0.125rem solid var(--color-on-surface-disabled);
        }
    }

    .form_radio_label {
        margin-left: 1.188rem;
        display: block;
        @extend .body_reg;
    }
}

.card {
    background-color: var(--color-background);
    border-radius: 1rem;
    padding: 1rem;
}

// .display-block{
//     display: block !important;
// }

.animated {
    -webkit-animation-duration: 0.58s;
    animation-duration: 0.58s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes bounceInDown {
    0% {
        opacity: 0.2;
        transform: translateY(-18.75rem);
    }
    30% {
        opacity: 0.7;
        transform: translateY(1.563rem);
    }
    60% {
        opacity: 0.85;
        transform: translateY(-0.625rem);
    }
    80% {
        opacity: 0.9;
        transform: translateY(1.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bounceInDown {
    display: block !important;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.toast_overlay {
    position: fixed;
    top: 0.5rem;
    left: 0;
    z-index: 999999;
    width: 100%;
    opacity: 0;
    display: none;
}

.toast {
    position: relative;
    padding: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 0.375rem 0.875rem -0.375rem rgba(24, 39, 75, 0.12), 0 0.625rem 2rem -0.25rem rgba(24, 39, 75, 0.1);
    margin: 0 1rem;
    .icon {
        text-align: center;
        width: 3.5rem;
        position: absolute;
        span {
            width: 1.25rem;
            height: 1.25rem;
            margin: 0.125rem;
        }
    }
    .content {
        margin-left: 3.5rem;
        margin-right: 1rem;
        border-color: var(--color-transparent);
        text-align: left;
        padding-right: 1rem;
        .toast_tittle {
            margin-top: 0;
            margin-bottom: 0;
            @extend .body_med;
        }
        .toast_description {
            margin-top: 0;
            margin-bottom: 0;
            @extend .body_reg;
        }
        .btn_link {
            cursor: pointer;
            outline: none;
            background-color: var(--color-transparent);
            border: none;
            padding: 0;
            height: 1.625rem;
            @extend .button_semi_bold;
            &:active {
                -webkit-tap-highlight-color: var(--color-transparent);
            }
        }
    }
    .close {
        position: absolute;
        width: 4.5rem;
        top: 0;
        right: 0;
        text-align: center;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            cursor: pointer;
            background-color: var(--color-transparent);
            border: none;
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
            span {
                content: "";
                display: inline-block;
                width: 1.125rem;
                height: 1.125rem;
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-position: center;
                mask-position: center;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-image: url(./assets/icon/close.svg);
                mask-image: url(./assets/icon/close.svg);
            }
        }
        button:active {
            -webkit-tap-highlight-color: var(--color-transparent);
        }
    }
}

.toast_info {
    color: var(--color-on-secondary-container);
    background-color: var(--color-on-secondary);
    .icon {
        span {
            content: url(./assets/icon/info_24px.svg);
        }
    }
    .content {
        .btn_link {
            color: var(--color-secondary);
        }
    }
    .close {
        button {
            span {
                background-color: var(--color-secondary);
            }
        }
    }
}
.toast_success {
    color: var(--color-on-success-container);
    background-color: var(--color-success-container);
    .icon {
        span {
            content: url(./assets/icon/check_circle_24px.svg);
        }
    }
    .content {
        .btn_link {
            color: var(--color-on-success-container);
        }
    }
    .close {
        button {
            span {
                background-color: var(--color-on-success-container);
            }
        }
    }
}

.toast_error {
    color: var(--color-on-error-container);
    background-color: var(--color-error-container);
    .icon {
        span {
            content: url(./assets/icon/report_problem_24px.svg);
        }
    }
    .content {
        .btn_link {
            color: var(--color-on-error-container);
        }
    }
    .close {
        button {
            span {
                background-color: var(--color-on-error-container);
            }
        }
    }
}

.toast_btn_close {
    .content {
        margin-right: 4.5rem;
    }
}

.toast_info.toast_btn_close {
    .content {
        border-right: 0.063rem solid var(--color-secondary);
    }
}

.toast_success.toast_btn_close {
    .content {
        border-right: 0.063rem solid var(--color-on-success-container);
    }
}

.toast_error.toast_btn_close {
    .content {
        border-right: 0.063rem solid var(--color-on-error-container);
    }
}

.shadow_none {
    box-shadow: none !important;
}

.shadow_lv1_top {
    box-shadow: 0 -0.375rem 0.5rem -0.375rem rgba(24, 39, 75, 0.12), 0 -0.5rem 1rem -0.375rem rgba(24, 39, 75, 0.08);
}
.shadow_lv1_bottom {
    box-shadow: 0 0.375rem 0.5rem -0.375rem rgba(24, 39, 75, 0.12), 0 0.5rem 1rem -0.375rem rgba(24, 39, 75, 0.08);
}

.shadow_lv2_top {
    box-shadow: 0 -0.375rem 0.875rem -0.375rem rgba(24, 39, 75, 0.12), 0 -0.625rem 2rem -0.25rem rgba(24, 39, 75, 0.1);
}
.shadow_lv2_bottom {
    box-shadow: 0 0.375rem 0.875rem -0.375rem rgba(24, 39, 75, 0.12), 0 0.625rem 2rem -0.25rem rgba(24, 39, 75, 0.1);
}

.shadow_lv3_top {
    box-shadow: 0 -0.5rem 1.375rem -0.375rem rgba(24, 39, 75, 0.12), 0 -0.875rem 4rem -0.25rem rgba(24, 39, 75, 0.12);
}
.shadow_lv3_bottom {
    box-shadow: 0 0.5rem 1.375rem -0.375rem rgba(24, 39, 75, 0.12), 0 0.875rem 4rem -0.25rem rgba(24, 39, 75, 0.12);
}

.m_0 {
    margin: 0;
}

.mt_0 {
    margin-top: 0;
}

.p_0 {
    padding: 0;
}

.fadeIn {
    display: block !important;
    animation: fadeIn 0.2s 0.1s both ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pop_up {
    display: none;
    background-color: rgba(32, 28, 0, 0.2);
    backdrop-filter: blur(1.25rem);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    z-index: 99999 !important;
}
.pop_up_dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .pop_up_content {
        padding: 1.5rem 1rem;
        width: 100%;
        max-width: 17.5rem;
        margin: 0 2.5rem;
        border-radius: 1rem;
        background: white;
        .pop_up_header {
            text-align: center;
            color: var(--color-secondary);
            margin-bottom: 1rem;
            @extend .S2_med;
        }
        .pop_up_body {
            text-align: center;
            margin-bottom: 1.5rem;
            @extend .body_reg;
        }
        .pop_up_footer {
            button {
                margin-bottom: 1.5rem;
            }
            button:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.loader_overlay {
    display: none;
    background-color: rgba(32, 28, 0, 0.2);
    backdrop-filter: blur(1.25rem);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999 !important;

    .center {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .loader {
        height: 2rem;
        width: 2rem;
        -webkit-animation: loader_1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader_1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader_1 {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes loader_1 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .loader::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: auto;
        margin: auto;
        width: 0.5rem;
        height: 0.5rem;
        background: var(--color-primary);
        border-radius: 50%;
        -webkit-animation: loader_2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader_2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader_2 {
        0% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            -webkit-transform: translate3d(1.5rem, 0, 0) scale(0.5);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
    }
    @keyframes loader_2 {
        0% {
            transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            transform: translate3d(1.5rem, 0, 0) scale(0.5);
        }
        100% {
            transform: translate3d(0, 0, 0) scale(1);
        }
    }
    .loader::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: auto;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 0.5rem;
        height: 0.5rem;
        background: var(--color-error);
        border-radius: 50%;
        -webkit-animation: loader_3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader_3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader_3 {
        0% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            -webkit-transform: translate3d(-1.5rem, 0, 0) scale(0.5);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
    }
    @keyframes loader_3 {
        0% {
            transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            transform: translate3d(-1.5rem, 0, 0) scale(0.5);
        }
        100% {
            transform: translate3d(0, 0, 0) scale(1);
        }
    }
    .loader span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 2rem;
        width: 2rem;
    }
    .loader span::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: auto;
        right: 0;
        margin: auto;
        width: 0.5rem;
        height: 0.5rem;
        background: var(--color-quaternary);
        border-radius: 50%;
        -webkit-animation: loader_4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader_4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader_4 {
        0% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            -webkit-transform: translate3d(0, 1.5rem, 0) scale(0.5);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
    }
    @keyframes loader_4 {
        0% {
            transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            transform: translate3d(0, 1.5rem, 0) scale(0.5);
        }
        100% {
            transform: translate3d(0, 0, 0) scale(1);
        }
    }
    .loader span::after {
        content: "";
        display: block;
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 0.5rem;
        height: 0.5rem;
        background: var(--color-secondary);
        border-radius: 50%;
        -webkit-animation: loader_5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation: loader_5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    @-webkit-keyframes loader_5 {
        0% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            -webkit-transform: translate3d(0, -1.5rem, 0) scale(0.5);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0) scale(1);
        }
    }
    @keyframes loader_5 {
        0% {
            transform: translate3d(0, 0, 0) scale(1);
        }
        50% {
            transform: translate3d(0, -1.5rem, 0) scale(0.5);
        }
        100% {
            transform: translate3d(0, 0, 0) scale(1);
        }
    }
}
